.container {
    position: absolute;
    left: 50%;
    margin-top: 100px;
    margin-left: -200px;
    height: 400px;
    width: 500px;
    border: 2px solid red;
    text-align: center;
    display: inline-block;
}

img {
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

.songPlaylist {
    background-color: red;
    width: 100px;
    display: inline-block;
    text-align: center;
}